<h4>{{pageTitle}}</h4>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <table width="100%">
    <tr>
      <td width="5%">
          <md-icon class="md-left">search</md-icon>
      </td>
      <td width="95%">
        <md-input class="fullWidth" id="filterBy"
                  name="filterBy"
                  placeholder="filter"
                  align="left"
                  [value]='filter'
                  (keyup)='onKeyPress($event)'
                  #filterInput>

          <md-hint *ngIf='filterInput.characterCount > 0' align="end">filtered by: {{filterInput.value}}</md-hint>
        </md-input>
      </td>
    </tr>
  </table>
</section>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <md-list>
    <md-list-item *ngFor="let p of pets | petFilter:filter">
      <img md-list-avatar
           [src]="p.imageUrl"
           [alt]="p.alt">
      <h3 md-line> {{p.category}} </h3>
      <p md-line>
        <span class="primary"> {{p.name}} </span>
        <span class="gray"> -- {{p.description}} </span>
      </p>
      <a md-list-item [routerLink]="['/pets', p.id]" routerLinkActive="active-link">
        <md-icon md-list-icon>details</md-icon>
      </a>
    </md-list-item>
  </md-list>
</section>
