<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>

  <div class="panel-body">
    <div class="row">

      <md-input placeholder="filterBy" align="left">
      </md-input>
    </div>
    <section layout="row">
      <md-list>
        <md-list-item *ngFor="let p of pets">
          <img md-list-avatar
               [src]="p.imageUrl"
               [alt]="p.alt">
          <h3 md-line> {{p.category}} </h3>
          <p md-line>
            <span class="primary"> {{p.name}} </span>
            <span class="secondary"> -- {{p.description}} </span>
          </p>
        </md-list-item>
      </md-list>
    </section>
  </div>
</div>
